# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL= https://ontgzltoartabbnsrijd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9udGd6bHRvYXJ0YWJibnNyaWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NzI3NTcsImV4cCI6MjA5MzA0ODc1N30.nxW_yHa3PVXP8xT9TmV096p-i6n3j1fleUcamhPTV2Y
